main {
  border: 1px solid #ccc;
  height: 650px;
  background-color: var(--white-100);
  padding: 10px;

  box-shadow: 5px 6px 5px 4px rgba(0, 0, 0, 0.1);
}

.container {
  padding: 20px 50px;
  height: 350px;

  border: 1px solid var(--pink-500);
  border-radius: 2px;
  box-shadow: 5px 6px 5px 4px rgba(0, 0, 0, 0.1);
}

.container h1 {
  color: var(--pink-500);
  text-align: center;
}

hr {
  margin: 15px 0;
  border: none;
  height: 2px;
  border-radius: 5px;
  background-color: var(--pink-500);
}

.choiseFruit {
height: 110px;
  align-items: center;
  justify-content: space-around;
}
.choiseFruit div {
  display: flex;
  align-items: center;
  justify-content: space-around;


}

.choiseFruit button {
  display: flex;
  border: none;
  font-weight: 600;
  align-items: center;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid var(--pink-500);
}

.choiseFruit button:hover {
  background-color: var(--pink-500);
  color: var(--white);
  border: 1px solid var(--white);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer button {
  font-style: normal;
  font-weight: 500;
  transition: opacity 0.3s;
  cursor: pointer;
  border: none;
}

.footer p {
  font-size: 0.9rem;
}
