.container {
  display: block;

  padding: 50px;
  width: 100%;
  height: 600px;

  border: 1px solid red;
  border-radius: 2px;
  box-shadow: 5px 6px 5px 4px rgba(0, 0, 0, 0.1);
}

.container h1 {
  color: var(--pink-500);
  text-align: center;
}

hr {
  margin: 20px 0;
  border: none;
  height: 2px;
  border-radius: 5px;
  background-color: var(--pink-500);
}

.choiseFruit {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-around;
}
.choiseFruit > div {
  display: flex;
  height: 30px;
}

.choiseFruit > button {
  display: flex;
  border: none;
  font-weight: 600;
  align-items: center;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

.choiseFruit > button:hover {
  background-color: #a6a6a6;
  font-weight: 800;

}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer button {
  font-style: normal;
  font-weight: 500;
  transition: opacity 0.3s;
  cursor: pointer;
  border: none;
}

.footer p {
  font-size: 0.9rem;
}
