.container {
  display: block;

  padding: 50px;
  width: 100%;
  height: 600px;

  border: 1px solid red;
  border-radius: 2px;
  box-shadow: 5px 6px 5px 4px rgba(0, 0, 0, 0.1);
}

.container h1 {
  color: var(--pink-500);
  text-align: center;
}

hr {
  margin: 20px 0;
  border: none;
  height: 2px;
  border-radius: 5px;
  background-color: var(--pink-500);
}

.footer {
  display: flex;
  text-align: center;
}
