.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 5px 6px 5px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #be185d;
}
